configuration {
  display-drun: "Applications";
  display-window: "Windows";
  drun-display-format: "{name}";
  font: "Hack Font 14";
  modi: "window,run,drun";
  show-icons:true;
  icon-theme:"Papirus";
}

@import "~/.cache/wal/colors-rofi-dark"
